<table class="table table-bordered border rounded">
    <thead>
      <tr class="text-center bg-dark bg-gradient text-white">
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>

      <tr class="text-center " *ngFor=" let  user of users">
        <th>{{ user.nombre}}</th>
        <td class="text-center">{{ user.email }}</td>
        <td class="">
            <button class="btn btn-primary m-2">Editar</button>
            <button (click)="deleteUser(user)" class="btn btn-danger">
              Delete
          </button>
        </td>
      </tr>
    </tbody>
</table> 
